@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

/*----------------------------------Navbar--------------------------------*/

.buttonhome{
margin: 5px 80px 0 80px;
padding-bottom: 20px;
height: 100px;
width: 115px;
}

.homelogo{
    margin-top: 10px;
    height: 80px;
    width: 90px;
  }

  .nav-bar{
    background:rgb(252, 45, 28);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    color: white;
    cursor: pointer;
    font-size: 10px;
    width: 100%;
}

.menu, .submenu{
    padding: 0;
    margin: 0;
}

.menu{
    display: flex;
    flex-direction: row;
    background: rgb(252, 45, 28);
    height: 100px;
    width: 100%;
    margin-top: -150%;
    transition: all 0.5s;
}

.menu_icon{
    margin-left: 20%;
    color: white;
}


.menu__item{
  margin-left: 30px;
  padding-left: 5%;
  padding-top: 15px;
  list-style:none;
}

.menu__link{
    display: block;
    padding: 20px 15px 0 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}

.menu__link:hover{
    background:rgb(248, 117, 117) ;
}

.submenu .menu__link:hover{
    background:#222 ;
}

.submenu{
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
}

.submenu, .menu__link{
    background: rgb(252, 45, 28);
    padding-left: 25px;
}

.mostrar{
    margin-top: 0;
}

@media(min-width:1024px){
 
    .menumostrar{
            display: flex;
            flex-direction: row;
            background: rgb(252, 45, 28);
            height: 100px;
            width: 100%;
            transition: all 0.5s;
            list-style: none;
    }

    .menu{
        /*margin-left: 0;*/
        margin-top: 0;
        display: flex;
    }

    .menu_icon{
        visibility: hidden;
    }

    .container-submenu{
        position: relative;
    }

    .submenu{
        position: absolute;
        top: 60px;
        width: 200px;
        overflow: visible;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
    }

    .container-submenu:hover .submenu{
        opacity: 1;
        visibility: visible;
    }

}
a:link { text-decoration:none;
 } 
 
a:visited { text-decoration:none;
};

/*------------------------Home---------------------*/

/* PARA QUITAR DECORATION DE LOS LINKS a:link { text-decoration:none; } a:visited { text-decoration:none; }*/


.mainhome{
    text-decoration: none;
    text-decoration-style:none ;
}

.portadafoto{
    width:900px;
    height: 500px;
}

.mainhome a{
    color: black;
}

.mainhome h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 20px 0px;
    font-family: 'PT Sans', sans-serif;  
}


.mainhome img{
    margin:10% 0 0 18% ;
}

.mainhome h4 {
    display: block;
    margin-left: 12%;
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
}

.mainhome p{
    display: block;
    margin-left: 5%;
    padding: 10px;
    font-family: 'PT Sans', sans-serif;
}

.videoslista{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-bottom: 10%;
    padding: 50px 0 60px 0 ;
    list-style: none;
    font-family: 'PT Sans', sans-serif;
}

.noticias{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    list-style: none;
    margin-bottom: 5%;
}

.noticias a{
    color: black;
}

.noticias img{
    height: 350px;
    width: 550px;
    margin-top: 5%;
    font-family: 'PT Sans', sans-serif;
}

.footer{
    display: inline-block;
    text-align: center;
    padding: 10px;
    height: 45px;
    width: 100%;
    background: rgb(252, 45, 28);
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: white;
}

/*-------------------Sains----------------------------*/

.Sainstext p{
    margin: 30px 10% 30px 10%;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
}

.Sainstext h4{
    margin-left: 12%;
    font-family: 'PT Sans', sans-serif;
    font-size: large;
}

/*-----------------Alonso-----------------------------*/

.mainalonso{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
    margin-top: 20px;
    padding: 15px;
}

.alonsofoto{
    height: 550px;
    width: 850px;
}

/*----------------Drivers-------------------------*/

.driversespacio{
    display: block;
    height: 200px;
    background-color: white;
    width: 100%;
}

.listadrivers{
    display: flex;
    flex-direction: row;
    font-family: 'PT Sans', sans-serif;
    padding: 20px;
    list-style: none;
    flex-wrap: wrap;
}

.driverdatos{
    margin: 0 5px 5px 5px;
    color: black;
    list-style:none;
    padding: 15px;
    line-height: 25px;
    background: white;
    border-radius: 10px;
    border: black 1px solid;
}



.flags{
    margin-left: 10px;
    height: 25px;
    width: 35px;
    border: 2px;
}

.driversimg{
    height: 250px;
    width: 250px;
}

/*------------------Tracks-----------------------*/



.tracksimg{
    height: 200px;
    width: 250px;
}

.h3tracks{
    display: inline-block;
    margin: 10% 10% 3% 35%;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
}

.listatracks{
    display: flex;
    flex-direction: row;
    font-family: 'PT Sans', sans-serif;
    padding: 20px;
    list-style: none;
    flex-wrap: wrap;
}

/*----------------------Teams------------------------------------------*/

.teamsimg{
    height: 150px;
    width: 230px;
    margin-right: 10px;
}

.carsimg{
    height: 150px;
    width: 250px;
}

.teamsdatos{
    margin: 0 5px 5px 5px;
    color: black;
    list-style:none;
    padding: 15px;
    line-height: 25px;
    background: white;
    border-radius: 10px;
    border: black 1px solid;
}

.listateams{
    margin:0 0 30px 100px;
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
}

.namedata{
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 900;
}

.pilotodata{
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 600;
}




/*----------------------Contact------------------------------*/

.divform{
    background-color:darkgrey;
}

.formcontact{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2% 0 60% 20%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.formcontact label{
    padding: 15px;
    border-radius: 15px;
}

.formcontact input{
    margin-left: 10px;
    padding: 2px;
}

.mensaje{
    display: flex;
    height: 250px;
    width: 300px;
    border-radius: 15px;
}


.botonenviar{
    margin: 20px 0 30px 0;
    width: 150px;
    height: 30px;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-weight: 600;
    color: white;
    background: rgb(252, 45, 28);
}

/*----------------------Brakepoints---------------------------*/


@media(max-width:1024px){
    
    .portadafoto{
        height: 400px;
        width: 600px;
    }

    .mainhome img{
        margin:20% 0 0 18% ;
    }

    .videoslista iframe{
        width: 350px;
        height: 200px;
    }


}

@media(max-width:650px){

    .buttonhome{
        display: none;
        }

    .mainhome img{
        margin:40% 0 0 5% ;
    }
    
    .portadafoto{
        height: 230px;
        width: 360px;
    }

    .videoslista iframe{
        width: 250px;
        height: 150px;
    }

    .noticias img{
        height: 150px;
        width: 250px;
        font-family: 'PT Sans', sans-serif;
    }

    .listadrivers{
        font-size: small;
    }

    .driversimg{
        height: 200px;
        width: 200px;
    }

    .listatracks{
        font-size: small;
    }

    .tracksimg{
        height: 180px;
        width: 200px;
    }

    .teamsdatos{
        width: 300px;
    }

    .mensaje{
        height: 150px;
        width: 250px;
    }

    .formcontact{
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
    }

    .botonenviar{
        margin: 10px;
        width: 100px;
        height: 30px;
        border-radius: 15px;
        font-family: 'Roboto', sans-serif;
        font-size: medium;
        font-weight: 400;
    }
}
